
<div class="row" style="border:1px #ccc solid; margin:2em 0 0 0;">
	<div class="col-xs-6" >
	<h2>{{ titleLogIn }}</h2>

	<form role="form" name="loginForm" ng-submit="login(user)">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" placeholder="Please enter valid email here." ng-model="user.email" class="form-control" required />
		</div>
		
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" placeholder="Please enter password here." ng-model="user.password" class="form-control" required />
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Log In</button>
		</div>

	</form>
	</div>


	<div class="col-xs-6"  style="border-left:1px #ccc solid">
	<h2>{{ titleSignIn }}</h2>
	<form role="form" name="createForm" ng-submit="createUser(newUser)">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" placeholder="Please enter valid email here." ng-model="newUser.email" class="form-control" required />
		</div>
		
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" placeholder="Please enter password here." ng-model="newUser.password" class="form-control" required />
		</div>
		
		<div class="form-group">
			<input type="checkbox" id="terms" ng-model="newUser.terms" required />
			I accept the <a href="#">Terms of Service</a>.
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid">Create</button>
		</div>

	</form>
	</div>
</div>

<div class="container text-center" ng-if="alertMessage" style="margin:1em 0 0 0;">
	<div  ng-class="{'alert alert-success':isValidUser, 'alert alert-danger': !isValidUser }">{{ alertMessage }}</div>
</div>